@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: mooly;
    src: url("../font/Mooli-Regular.ttf") format("opentype");
}
@keyframes name {
    from {width: 1px;}
    to {width: 50%;}
}